<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post_create.css' %}">
</head>
<body>
    <div class="post-wrapper">
        <h2>게시물 수정</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">수정 완료</button>
        </form>
        <a href="{% url 'post_detail' post.pk %}">게시물로 돌아가기</a>
    </div>
</body>
</html>
