<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/find_password.css' %}">
</head>

<body>
    <div class="find-pw-wrapper">
        <div class="find-pw-title">비밀번호 변경</div>

        {% if error %}
        <p style="color:red">{{ error }}</p>
        {% endif %}

        {% if message %}
        <p style="color:green">{{ message }}</p>
        {% endif %}

        <form method="post" class="find-pw-form">
            {% csrf_token %}

                <input class="find-pw-input"
                    type="email"
                    name="email"
                    placeholder="이메일을 입력하세요"
                    value="{{ email|default:'' }}"
                    {% if step == 2 %}readonly{% endif %}
                    required>

            <input class="find-pw-input"
                    type="text"
                    name="code"
                    placeholder="인증번호를 입력하세요"
                    {% if step != 2 %}disabled{% endif %}>

            {% if step == 2 %}
            <div class="info-text">
                인증번호가 입력하신 이메일로 전송되었습니다.<br>
                인증번호를 입력해 주세요.
            </div>
            {% endif %}

            {% if step == 1 %}
                <button class="find-pw-btn" type="submit" name="send_code">
                    인증번호 받기
                </button>
            {% else %}
                <button class="find-pw-btn" type="submit" name="verify_code">
                    확인
                </button>
            {% endif %}
        </form>
    </div>
</body>
</html>