<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>

<div class="reset-pw-wrapper">
            <div class="reset-pw-title">비밀번호 변경</div>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}


<form method="post">
    {% csrf_token %}
    {{ form.new_password1.label_tag }}<br>
    {{ form.new_password1 }}<br><br>
    {{ form.new_password2.label_tag }}<br>
    {{ form.new_password2 }}<br><br>
    <button class="reset-pw-btn" type="submit">비밀번호 변경</button>
</form>
</div>

</body>
</html>
