body {
    background: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

.find-pw-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.find-pw-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #2253f7;
    margin-bottom: 10px;
}

.find-pw-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-pw-input {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 15px;
}

.find-pw-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    background: #ff6b3d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 7px;
}

.find-pw-btn:hover {
    background: #e55b2d;
}

/* 안내 텍스트 */
.info-text {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #2253f733;
}
